.footer {
    background-color: rgb(60, 60, 60);
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.footer__text {
    padding: 2rem;
    color: rgb(0, 180, 0);
}