.header {
    background-color: rgb(60, 60, 60);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem 2rem;
}

.header__logo {
    margin: 0;
}

.header__logo a {
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(0, 180, 0);
}

.header__nav {
    margin: 0;
}

.header__nav a {
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(0, 180, 0);
    font-size: 1.1rem;
    transition: color 0.2s;
    
    &&:hover {
        color: rgb(0, 100, 0);
    }
}