.Detalhe__container {
    margin: 1rem;
}

.Detalhe__conteudo {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
}

.Detalhe__autor {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.250rem;
}

.Detalhe__data {
    font-size: 1.1rem;
    font-weight: bold;
}